---

import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import BlogPostPreview from '../components/BlogPostPreview.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob('./blog/*.{md,mdx}')).sort(
	(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			/* 
			ul {
				list-style-type: none;
				padding: unset;

			}
			ul li {
				display: flex;
				flex-direction: column;
				word-wrap: break-word;
				padding-bottom: 15px;
			}

			ul li a {
				font-size: 20px;
			}

			ul li time {
				flex: 0 0 130px;
				font-style: italic;
				font-size:12px;
				color:  rgb(172, 156, 156);
			}
			ul li a:visited {
				color: #818616;
			}
			*/

			.blog-presentation {
			
				border-radius: 10px;
				word-wrap: break-word;
				font-size: 18px;
				color: white;
				
			}

		</style>

	</head>
	<body>
		<Header />
		<main>
			<section>
				<p class="blog-presentation">
					Deseo compartir con ustedes mis experiencias, mis esfuerzos y mis aprendizajes sobre temas relacionados con la salud mental y el bienestar físico.
				</p>
			</section>
			<section aria-label="Blog post list">
				{posts.map((p) => <BlogPostPreview post={p} />)}
			</section>

		</main>
		<Footer />
	</body>
</html>
