---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<section>

				<h1>尖Hola, Bienvenid@</h1>
				
				<p>
					Si est谩s cansado de sentirte estancado, o si tu vida simplemente no est谩 donde quieres que est茅, entonces estoy aqu铆 para ayudarte. Puedo ayudarte a convertirte en la persona que quieres ser proporcionando un espacio seguro para la autorreflexi贸n y el crecimiento. Exploraremos lo que te impide alcanzar tus objetivos, y juntos desarrollaremos un plan para superar esos obst谩culos. 
				</p>

				<p>
					En una consulta psicol贸gica, podr谩s trabajar en tu desarrollo personal y en el conocimiento de ti mismo. Podr谩s explorar por qu茅 te sientes como lo haces, c贸mo afecta a tu vida y las formas en que puedes crecer.
				</p>

				<p>
					Este tipo de crecimiento personal es incre铆blemente importante por varias razones:
				</p>

				<ul>
					<li>Te ayuda a entenderte mejor, para que puedas tomar mejores decisiones sobre tu vida (y c贸mo mejorarla).</li>
					<li>Te da una visi贸n de tu pasado y de c贸mo est谩 afectando a tu presente.</li>
					<li>Te permite establecer una relaci贸n con un profesional que puede guiarte y apoyarte en este proceso.
					</li>
				</ul>

				<p>
					Puedes encontrarme en <a href="https://www.facebook.com/raul.consciencia/">Facebook</a> y 
					<a href="https://twitter.com/psicord11">Twitter</a>.
				</p>
			</section>
			
		</main>
		<Footer />
	</body>
</html>
