---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../config';
---

<header>
	<h2>
		{SITE_TITLE}
	</h2>
	<nav class="navMenu">
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/blog">Blog</HeaderLink>
		<HeaderLink href="/about">Sobre mi</HeaderLink>
		<HeaderLink href="https://www.facebook.com/raul.consciencia" target="_blank"><img class="nav-logo-social" src="/img/logo-facebook.png" alt=""></HeaderLink>
		<HeaderLink href="https://www.instagram.com/consciencia_rd/" target="_blank"><img class="nav-logo-social" src="/img/logo-instagram.png" alt=""></HeaderLink>
		<HeaderLink href="https://twitter.com/psicord11" target="_blank"> <img class="nav-logo-social" src="/img/145812.png" alt=""> </HeaderLink>
	</nav>
</header>

<style>
	header {
		margin: 0em 0 2em;
	}
	h2 {
		margin: 0.5em 0;
	}
	a:hover {
		color: #fddb3a;
	}

.nav-logo-social {
	width: 20px;
	height: fit-content;
	}

</style>
